<div class="container">
  <div class="info_cursos">
    <h1> {{title}} </h1>
    <p> {{sub_title}}</p>
  </div>

  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="{{image1}}" alt="foto curso micro" loading="lazy"/>
      </div>
      <div class="slide">
        <img src="{{image2}}" alt="foto curso micro" loading="lazy"/>
      </div>
      <div class="slide">
        <img src="{{image3}}" alt="foto curso micro" loading="lazy"/>
      </div>
      <div class="slide">
        <img src="{{image4}}" alt="foto curso micro" loading="lazy"/>
      </div>
      <div class="slide">
        <img src="{{image5}}" alt="foto curso micro" loading="lazy"/>
      </div>
      <div class="slide">
        <img src="{{image6}}" alt="foto curso micro" loading="lazy"/>
      </div>
    </div>
  </div>
</div>
