<app-nav-bar></app-nav-bar>

<app-banner
  sub_title="conheça"
  title="Nossos Cursos"
  banner_img="/assets/pictures/picture3.png"
></app-banner>

<div class="couses_mobile">
  <i>
    <input
      checked
      type="radio"
      name="s"
      style="background-image: url(/assets/course/curso-nano.png)"
    />
    <input
      type="radio"
      name="s"
      style="background-image: url(/assets/course/curso-labial.png)"
    />
    <input
      type="radio"
      name="s"
      style="background-image: url(/assets/course/curso-lash.png)"
    />
  </i>
</div>

<app-about-course></app-about-course>

<app-included-course></app-included-course>

<app-gallery></app-gallery>

<app-location />

<app-footer image="/assets/logo_watermark.webp" />
