<div class="container">
  <div class="image">
    <img src="/assets/gif/sobrancelha.gif" alt="gif olhos piscando">
  </div>

  <div class="content">
    <h1> Cronograma dos cursos </h1>
    <div class="cards">
      <app-card-day
        title="Primeiro dia"
        sub_title1="• Aula Teórica"
        sub_title2="• Treino das cores"
        sub_title3="• Treino em pele artificial"
        sub_title4="• Coffee Break"
        />
      <app-card-day
        title="Segundo dia"
        sub_title1="• Demonstração em modelo"
        sub_title2="• Aula prática em 2 modelos"
        sub_title3="• Entrega do certificado"
        sub_title4="• Coffee Break"
      />
    </div>

  </div>

</div>
