<div class="container">
  <div class="logo">
    <img src={{image}} alt="logotipo branco" loading="lazy">
  </div>
  <div class="contact">
    <h1>  Quer falar com a gente? </h1>
    <p> <i class="fa-brands fa-whatsapp"></i> WhatsApp: (11)9 0000-0000 </p>
    <p> <i class="fa-regular fa-map"></i> Rua Rubens Guedes, 140 - <br> Chácara São Luís, Guarulhos - SP </p>
  </div>
  <div class="social_media">
    <h1> Siga nossas redes sociais </h1>
    <p> <i class="fa-brands fa-instagram"></i> /jessicamoraespmu </p>
  </div>
  <div class="professional">
    <h1> Micropigmentadora: </h1>
    <p>Jéssica Moraes</p>
  </div>
</div>
