<app-nav-bar></app-nav-bar>

<app-banner
  sub_title="conheça nossos"
  title="Procedimentos"
  banner_img="/assets/procedimento_pic.webp"
/>

<div class="courses">
  <app-model-course
    title="NanoBland"
    sub_title1="teste"
    sub_title2="teste"
    sub_title3="teste"
    sub_title4="teste"
    sub_title5="teste"
  />
  <app-model-course
  title="Micro Labial"
  sub_title1="teste"
  sub_title2="teste"
  sub_title3="teste"
  sub_title4="teste"
  sub_title5="teste"
  />
  <app-model-course
    title="Lash Lifting"
    sub_title1="teste"
    sub_title2="teste"
    sub_title3="teste"
    sub_title4="teste"
    sub_title5="teste"
  />
</div>

<app-gallery></app-gallery>

<app-footer image="/assets/logo_watermark.webp" />
