<app-nav-bar></app-nav-bar>

<app-banner
  sub_title = "Seja"
  title="Bem-vinda"
  banner_img = "/assets/pictures/picture.webp">
</app-banner>

<app-cards></app-cards>

<app-cursos
  title="Teste"
  sub_title="testetestetesteteste"

  image1="/assets/course/CursoMicro.webp"
  image2="/assets/course/CursoMicroLabial.webp"
  image3="/assets/course/CursoDesign.webp"
  image4="/assets/course/CursoMicro.webp"
  image5="/assets/course/CursoMicroLabial.webp"
  image6="/assets/course/CursoDesign.webp"
  >
</app-cursos>

<app-studio
  background_image="/assets/studio/studio.avif"

  title="Teste"
  sub_title="teste"
  >
</app-studio>

<app-location />

<app-footer
  image="/assets/logo_watermark.webp"
/>
