.container {
  background-color: var(--back1-color);

  width: 100%;
  height: auto;
  min-height: 300px;

  border-radius: 10px;
  padding: 20px;

  box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
}

.container h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.container p {
  font-size: 1.3rem;
}
