<div class="menu-container">
  <button class="hamburger" (click)="toggleMenu()" title="Menu hamburger">
    <div [class.open]="isMenuOpen"></div>
    <div [class.open]="isMenuOpen"></div>
    <div [class.open]="isMenuOpen"></div>
  </button>

  <div *ngIf="isMenuOpen" class="menu">
    <ul>
      <li><a href="/" (click)="closeMenu()">HOME</a></li>
      <li><a href="/procedimentos" (click)="closeMenu()">PROCEDIMENTOS</a></li>
      <li><a href="/cursos" (click)="closeMenu()">CURSOS</a></li>
      <li><a href="/studio" (click)="closeMenu()">STUDIO</a></li>
      <li><a href="/parcerias" (click)="closeMenu()">PARCERIAS</a></li>
    </ul>
  </div>
</div>
